*{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	box-sizing: border-box;
}


/*Top Panel*/
h1{
	background-color:white;
	border-width: 6px;
	border-bottom-style: double ;
}

.topPanel a {
	text-decoration: none;
	color: black;
	font-size: 42px;

}

/*Body*/
body{
	background-color:#FFFFF3;
}

.nav-links{
	flex: 1;
	text-align: left;
	background-color:#5bccf6;
	padding-left: 2%;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 10px;
	position: relative;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #000000;
	display: block;
	margin: auto;
	transition: 0.5s;

}
.nav-links ul li:hover::after{
	width: 100%;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}


/*Main - body*/
.column{
	flex: 50%;
	padding: 25px;
	border: 1px solid white;

	
}

.column img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.row{
	display: flex;

}

.placeHolder{
	min-height: 15vh
}

table, th,td{
	background:white;
	border:1px solid black;
}
.bookTable img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:5px;
	width: 20%;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:5px;
	width: 25%;
}

.mySlides {display: none;}

/* Slideshow container */
.slideshow-container{
	max-width: 60%;
	max-height: 40%;
  position: relative;
  margin: auto;
}
.slideshow-container img{
	float: none;
  width:  80%;
  height: 60%;
  object-fit: cover;
}
/* Caption text */
.slideshow-container .text{
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  top: 100%;
}
/* Number text (1/3 etc) */
.slideshow-container .numbertext{
  color: black;
  padding-left: 11%;
  font-size: 12px;
}

.active {
  background-color: #717171;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*footHeader*/
.footTable{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

.footTable nav{
    position:center;
    padding-top:0;
    padding-bottom:0;
}

.footTable img{
    width:5%;
}

.sidebar{
	position: fixed;
	top:  155px;
	width: 250px;
	height: 80%;
	background-color: #5bccf6;
}

.sidebar .sidebarlink{

	text-align: center;
}

.sidebar ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

.sidebar ul li{
	padding-top: 25px;
}

.sidebar ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #fcde67;
	display: block;
	margin: auto;
	transition: 0.5s;

}

.sidebar ul li:hover::after{
	width: 60%;
}

/*Prject Gallery*/
.slideshow-projectgallery {
  position: relative;
  margin: auto;
}

.slideshow-projectgallery .text{
  color: black;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  padding-left: 40%;
  text-align: center;
  top: 100%;
}

.slideshow-projectgallery .numbertext{
  font-size: 12px;
  color: black; 
  padding-left: 12%;
}

.portfolioheader{
	padding-left: 5px;
	padding-right: 50px;
	padding-left: 300px;
}

.portfolioheader table{
	width: 100%;
	text-align: center;
}

.portfolioheader table td{
	background-color: #fcde67;
}

.portfolioheaderh2{
	padding-left: 5px;
	padding-right: 50px;
	padding-left: 300px;
}

.portfolioheaderh2 table{
	width: 100%;
	text-align: center;
}

.portfolioheaderh2 table td{
	background-color: #9ACD32;
}

.portfoliotable{
	padding-left: 5px;
	padding-right: 50px;
	padding-left: 300px;
}

.portfoliotable table{
	width: 100%;
	text-align: center;
}

.portfoliotable table img{
	width: 65%;
	height: 25%;
}

/*Front Message*/
.frontmessage{
	padding-left: 5px;
	padding-right: 5px;
}

.frontmessage table{
	width: 100%;
}

.frontmessage table td{
	background-color: #fffff3;
	width: 50%;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

/*This is very important- Define a border for image*/
.imageframe{
	padding-right: 50px;
	padding-left: 300px;
	background-color: #fffff3;
}

.imageframe .text{
	font-size: 1vw;
	align-content: center;
	padding-right: 40%;
}

.imageframe img{
	align-content: center;
	width: 50%;
}